/*
    temp colors
    color: #111111;
    background-color: #ffffff;
    background-color: #dddddd;
        background-color: #01ff70;
        background-color: #7fdbff;
        background-color: #ff4136;
        background-color: #f012be;
        background-color: #ffdc00;

    border-bottom: 1px solid #cccccc;

    box-shadow: 0px 0px 100vh 100vh rgba(0, 0, 0, 0.57);

    Centering Stuff
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


 */

/* OLD */

/* * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Helvetica;
    box-sizing: border-box;
    color: #111111;
} */

* {
    text-align: center;
    font-family: "Oxygen", Helvetica;
    box-sizing: border-box;
    margin: auto;
}

/* Horizontal Line */

h1 {
    padding: 20px;
    border-radius: 20px;
}

/* getMorePlaylists-btn */

.getMorePlaylists-btn {
    color: #ffffff;
    cursor: pointer;
    transition-timing-function: ease;
    transition: 0.4s;
}

.getMorePlaylists-btn:hover {
    color: #01ff70;
}

/* Button Temp */

.horiLine {
    width: 50vh;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    color: #111111;
    border: 1px solid #cccccc;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.textInput {
    text-align: center;
    height: 4vh;
    width: 30vh;
    outline: none;
    border: 3px solid #cccccc;
    resize: none;
    border-radius: 20px;
}

.lighter {
    font-weight: lighter;
}

.bolder {
    font-weight: bolder;
}

/* REGULAR CSS */

.artistCard {
    width: 400px;
    height: 400px;
}

.userProfile {
    text-align: center;
}

.userProfile img {
    border-radius: 50%;
}

/* NAVIGATION */

.navigation {
    height: 50px;
    width: 100%;
    background-color: #111111;
    border-bottom: 1px solid #111111;
    color: #ffffff;
    display: flex;
    align-self: center;
    align-items: center;
}

/* changed only for react Spring */

.makeNavigationBlack {
    background-color: #111111;
}

.navigation-links a {
    background-color: #111111;
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: -1px;
}

.userProfile p {
    font-size: 15px;
    color: #ffffff;
}

.navigation-links a:hover {
    text-decoration: underline;
}

.navigation-links {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 20px;
    color: #ffffff;
    background-color: #111111;
}

.logoinnav {
    height: 50px;
    width: 50px;
    float: left;
    font-weight: bold;
    background-color: #111111;
    color: #ffffff;
    transform: translateX(-40%);
}

.profilePic {
    width: 50px;
    height: 50px;
    float: right;
}

.userProfile {
    display: inline-flex;
}

.userProfile p {
    margin-right: 10px;
    font-weight: lighter;
}

/* LANDING PAGE */

.landingpage {
    height: 800px;
    width: 100%;
    background-color: #01ff70;
    background-image: url(/images/cassette-90s-vintage-4k-xq-2560x1440.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(20);
}

.callToAction {
    display: flex;
    flex-direction: column;
    transform: translate(-67%, -90%);
    color: #ffffff;
}

.callToAction a {
    margin-top: 20px;
    background-color: #111111;
    border: 0.1px dashed #ce6868;
    color: #ffffff;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 20px;
    transform: translate3d(80px, 0, 0);
    transition-timing-function: ease;
    transition: 0.4s;
}

.callToAction a:hover {
}

/* SEARCH TRACK LANDING */

.searchTrack {
    height: 500px;
    width: 100%;
    background-color: #01ff70;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(20);
}

.searchTrack h1 {
    margin-bottom: 10px;
}

.searchTrack a {
    margin-top: 30px;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 20px;
}

/* showTopArtists */

.topArtistWrapper {
    height: 450px;
    width: 100%;
    background-color: #111111;
}

.topArtistTitle {
    color: #ffffff;
    padding: 30px;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    transform: translate(-40%, 10%);
}

.topArtistInline {
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 80%;
}

.topArtistCard {
    background-color: inherit;
    height: 300px;
    width: 200px;
    margin: auto;
    text-align: center;
}

.topArtistCard img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
}

.topArtistCard p {
    color: #ffffff;
    font-weight: lighter;
}

.bolder {
    font-weight: bold;
}

/* PLAYLIST CREATED SECTION */

.playlistsWrapper {
    height: 100%;
    width: 100%;
    background-color: #111111;
}

.playlistTitle {
    color: #ffffff;
    background-color: #ff851b;
    padding: 40px;
    font-size: 30px;
    font-weight: bolder;
    box-shadow: 0px -14px 133px 155px rgba(255, 133, 27, 1);
}

.playlistsInline {
    margin-top: 50px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    align-items: start;
}

.playlistCard {
    background-color: inherit;
    height: 300px;
    width: 200px;
    margin: auto;
    text-align: center;
}

.playlistCard img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
}

.playlistCard p {
    color: #ffffff;
    font-weight: lighter;
}

.evenbolder {
    font-weight: bold;
}

/* OVERLAY EFFECT */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: red;
}

.container:hover .overlay {
    opacity: 1;
}

.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-user:hover {
    color: #eee;
}

/* CompGeneratePlaylist */

.compGeneratePlaylist {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* SearchField */

.searchWrapper {
    background-color: #ff851b;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}

.searchField {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textBlock {
    color: #111111;
    padding: 30px;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}

.searchField input {
    width: 250px;
    height: 38px;
}

.searchButton {
    width: 200px;
    background-color: #111111;
    margin-top: 20px;
    color: #ffffff;
    font-weight: lighter;
    padding: 10px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

.searchButton:hover {
    opacity: 1;
    font-weight: bold;
}

/* ArtistSearch */

.white {
    color: white;
}

.compGeneratePlaylistWrapper {
    background-color: #111111;
    box-sizing: border-box;
}

.resultOfSearchArtist {
    height: 500px;
    background-color: #2ecc40;
    width: 100%;
    margin-bottom: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.ArtistPicture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.buttonSearchWrapper {
    padding-bottom: 20px;
    width: 80%;
    display: inline-block;
    color: #ffffff;
}

.conButton {
    width: 300px;
    background-color: #111111;
    margin-top: 20px;
    color: #ffffff;
    font-weight: lighter;
    padding: 10px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.1s;
}

.conButton:hover {
    opacity: 1;
    font-weight: bold;
}

/* RelatedArtists */

.relatedArtistsWrapper {
    height: 100%;
    width: 100%;
    background-color: #111111;
}

.relatedArtistsTitle {
    color: #ffffff;
    background-color: #2ecc40;
    padding: 30px;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    /* transform: translate(-40%, 10%); */
    box-shadow: 0px -14px 133px 155px rgba(46, 204, 64, 1);
}

.relatedArtistsInline {
    margin-top: 50px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    align-items: start;
}

.relatedArtistsCard {
    background-color: inherit;
    height: 600px;
    width: 200px;
    margin: auto;
    text-align: center;
}

.relatedArtistsCard img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
}

.relatedArtistsCard p {
    color: #ffffff;
    font-weight: lighter;
}

.evenbolder {
    font-weight: bold;
}

.genreInline {
    display: inline-block;
    display: grid;
    grid-auto-columns: repeat(3, autofill);
}

.genreBubble {
    background-color: #ffffff;
    border-radius: 20px;
}

.genreBubble p {
    color: #111111;
    padding: 4px;
    font-size: 10px;
    font-weight: bolder;
    margin-top: 3px;
    margin-bottom: 3px;
}

.genreBubble a {
    text-decoration: none;
}

/* Create PlaylistTitle */

.createTitle {
    background-color: #ffffff;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -200px 183px 108px rgba(255, 255, 255, 1);
}

.createTitle h2 {
    color: #111111;
    padding: 30px;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}

.createTitle p {
    margin-top: 20px;
    background-color: #ff851b;
    color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
}

/* createdPlaylist */

.createdPlaylist {
    height: 600px;
    width: 60%;
    text-align: center;
    margin-bottom: 30px;
}

.createdPlaylist p {
    color: #111111;
    font-weight: lighter;
    background-color: #ffffff;
}

/* SearchTitle in Audio Feature */

.searchTitle {
    color: #111111;
    padding: 30px;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}

.searchTitleWrapper {
    background-color: #ff851b;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchTitle input {
    width: 250px;
    height: 38px;
}

.searchTitle h1 {
    font-size: 25px;
}

.searchButton {
    width: 200px;
    background-color: #ff851b;
    margin-top: 20px;
    color: black;
    font-weight: lighter;
    padding: 10px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    outline: none;
}

.searchButton:hover {
    opacity: 1;
}

/* Tracklist */

.trackListWrapper {
    color: black;
    height: 100%;
    width: 400px;
    background-color: #ffffff;
    text-align: center;
}

.trackListTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111111;
    background-color: #ff851b;
    height: 30px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.trackListLines {
    margin-top: 30px;
    height: 200px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    background-color: #ffffff;
}

.trackListLines > span {
    padding: 8px 4px;
}

/* Audio Features */

.audioFeatureWrapper {
    color: black;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.smallFontSize {
    font-weight: lighter;
    font-size: 12px;
}

.buttonShowAudioFeature {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonShowAudioFeature {
    margin-top: 20px;
    background-color: #ff851b;
    color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 20px;
    outline: none;
}

.audioLinkToTrack {
    margin-top: 20px;
    background-color: #111111;
    border-radius: 1px solid #111111;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 20px;
    outline: none;
}

.className {
    padding-top: 400px;
    background-color: #ffffff;
}

.paddingtop {
    maring-top: 20px;
}

/* REACT TRANSITION GROUP */

/* appear */

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

/* exit */

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}

.fade-exit-done {
    opacity: 0;
}

/* enter */

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear;
}
